<launch>

  <include file="$(find zed_wrapper)/launch/zed_no_tf.launch" />
  <include file="$(find tinkerforge_imu_ros)/launch/bricks_v3.launch" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <node name="battery_indicator" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0"/>

  <!-- <arg name="gui" default="True" />
  <param name="use_gui" value="$(arg gui)"/> -->
  <param name="robot_description" command="cat $(find full_amr_sensor)/urdf/full_amr_sensor.urdf" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_true_to_base_link" args="0.0073926 -0.32076 0.061 0 0 0 base_link base_link_true 10" />

</launch>
